/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top {
  width: 100%;
  margin: 33px;
}
.top-text {
  line-height: 18px;
  margin: 33px;
  font-size: 13px;
  font-family: verdana, arial, helvetica, sans-serif;
  color:#333;
}
.top-title {
  font-size: 26px;
  line-height: 18px;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #333;
}
.index {
  width: 100%;
  margin: 33px;
}
thead {
  text-align: center;
}
label {
  display: block;
}
td {
  padding:1px 5px 7px 5px;
}
